<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/index.css">
</head>
</head>
	<body class="page-index">
		<!-- header -->
		{% include header.liquid %}

		<!-- content -->
		{{ content }}

		<!-- footer -->
		{% include footer.liquid %}

		<!-- load scripts -->
		{% include scripts.liquid %}
	</body>

	<!-- overlay -->
	<div class="ui-overlay">
		<h3>手机开户</h3>
		<div class="qr">
			<p class="qr-text">扫描二维码</p>
			<img class="qr-codeimg" src="{{ site.baseurl }}/images/qrcode/ctsec.png" width="66" height="66" alt="">
		</div>
		<a class="download" href="{{ site.baseurl }}/mobile.html">下载客户端</a>
	</div>
</html>
